@model Dept
<h2>
	Details of @Model.Name
</h2>
<p>
	@Html.DisplayNameFor(d=>d.Id) : @Html.DisplayFor(d=>d.Id)
</p>
<p>
	@Html.DisplayNameFor(d=>d.Location) : @Html.DisplayFor(d=>d.Location)
</p>
<hr />
@Html.ActionLink("Back To List","List")